* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin: 0; padding: 0; }
html { width: 100%; height: 100%;font-size:16px;line-height: 1.5; font-family:-apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;}
body { width: 100%; height: 100%;}
img {border: none; display: block; }

.text-center{text-align: center;}
.color-0 { color: #F093CA; }
.color-1 { color: #FF2222; }
.color-2{color:rgb(130, 71, 158);}
.p-emp { margin: 20px 0;display: block; }
.-m-content > p{ margin: 5px 0; display: block;}
.-m-content > img{ width: 100%; height: auto; margin: 10px 0;}
.-m-content { padding: 25px 20px; font-size: .9375rem; color: #333333;
  h3{margin: 2rem 0 .5rem;}
  .title{
    .a-0{width: .5rem;height: .5rem;display:inline-block;margin-right: 10px; background: #f093ca;transform: rotate(45deg);vertical-align: sub;
      .a-1{width: .4rem;height: .4rem;display: inline-block;margin:0 0 .3rem -.2rem; border: none; border-left:1px solid #f093ca;border-bottom: 1px solid #F093CA; }
    }
    .a-2{width: .5rem;height: .5rem;display:inline-block;margin-left: 10px;margin-bottom: -.2rem; background: #f093ca;transform: rotate(45deg);vertical-align: super;
      .a-3{width: .4rem;height: .4rem;display: inline-block;float: right; margin:-.2rem -.2rem 0 0; border: none; border-right:1px solid #f093ca;border-top: 1px solid #F093CA; }
    }
    strong{font-size:1.375rem;color: #F093CA;}
  }
  .qr{width: 50%;margin: 0 auto;}
}