*{-webkit-tap-highlight-color: rgba(0,0,0,0);margin: 0;padding: 0;} /* 全局 */
html{font: 16px/1.6875  PingFang SC,Microsoft YaHei,Heiti SC;} /* 全局字体大小，使用renm，设置根目录字体16px，整体行高1.6875 */
.h1{font-size: 1.4375rem;color: #333333;margin: 2.125rem 0 1.5625rem;} /* h1标签 */
.h2{font-size: 1.3125rem;color: #333333;margin: 2.125rem 0 1.5625rem;} /* h2标签 */
.h3{font-size: 1.1875rem;color: #333333;margin: 2.125rem 0 1.5625rem;} /* h3标签 */
.h4{font-size: 1.125rem;color: #333333;margin: 2.125rem 0 1.5625rem;} /* h4标签 */
.p{font-size: 1.0625rem;color: #333333;margin: 28px 0;text-underline: red;} /* 普通p标签 */
.indent-p{font-size: 1.0625rem;color: #333333;text-indent: 2.125rem;margin: 28px 0;} /* 首行缩进2个汉字的p标签 */
.over-indent{padding-left: 2.125rem;font-size: 1.0625rem;color: #333333;margin: 28px 0;} /* 整段缩进2个汉字 */
.align-right{text-align: right;} /* 字体右对齐，只适用块级元素 */
.align-center{text-align: center;} /* 字体居中对齐，只适用块级元素 */
.quote{border-left: 5px solid #b5b5b5;background-color: #f7f7f7;padding: 24px 19px;margin: 28px 0;} /* 引用 */
.hr{color: #f0f0f0;} /* hr标签 */
.img{width: 100%;height: auto;display: block;margin: 20px 0;} /* img标签 */