/**
 * style.css
 *
 * Global style file
 */

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin: 0; padding: 0; }
html { width: 100%; height: 100%; overflow: auto; }
body { min-height: 100%; color: #3E3E3E; font: 15px/1.5 PingFang SC, Microsoft YaHei, Heiti SC !important; }
/* 全局样式 */
img { border: 0 none; }
.w-all { width: 100%; }
.w-0{width: 80%;}
.w-1{width: 70%;}
.w-2{width: 60%;}
.t-c { text-align: center; }
.t-l { text-align: left; }
.t-r { text-align: right; }
.f-l { float: left; }
.f-r { float: right; }
.middle{vertical-align: middle;}
.relative { position: relative; }
.absolute{position: absolute;}
.block { display: block; }
.inline-block { display: inline-block; }
.center { margin: 0 auto; }
.margin-0{margin: 10px 0;}
.margin-1{margin-top: 25px;}
.margin-2{margin-bottom: 10px;}
.margin-3{margin-top: 25px;}
.line-height-0{line-height: 1.8;}
.line-height-1{line-height: 1.4;}
.line-height-2{line-height: 1.75;}
.font-0 { font-size: .9375rem; }
.font-1 { font-size: 1rem; }
.font-2{font-size: .875rem;}
.cor-0{color: #3e3e3e;}
.cor-1{color: rgb(178, 178, 178);}
.cor-2{color: rgb(190, 157, 113);}
.cor-3{color: #F56E9E;}
.cor-4{color: #ffffff;}
.cor-5{color: rgb(240, 104, 148);}
.cor-6{color: #000000;}
.bg-0{background-color: #F06894;}

/* 结束 */
.-m-article-page { padding: 20px 15px 15px; position: relative; }
.-m-article-page h2 { font-weight: 400; font-size: 24px; margin-bottom: 10px; }
.-m-article-page .content { margin-top: 25px; }
.-m-article-page .content > p, .-m-article-page .content > span { display: block; }
.-m-article-page .content > img {width:100%;height: auto; display: block; margin: 26px auto; }
/* index */
.-m-index-page .title-0{margin-bottom: 25px;}
.-m-index-page .label-0, .-m-index-page .label-1{width: 50.8%;display:inline-block;border-bottom: 1px solid rgb(190, 157, 113);position: absolute;}
.-m-index-page .label-0{left:10%;bottom:-5px;}
.-m-index-page .label-1{right: 10%;bottom: -15px;}
.-m-index-page .label-2{width: 0;display: block;margin: 15px auto; border-top: 1.2em solid rgb(207, 190, 120);border-left: 0.7em solid transparent;border-right: 0.7em solid transparent;}
.-m-index-page .label-3{display: block;padding-top: 15px;margin-bottom: 15px; border-bottom: 1px dotted rgb(190, 157, 113);}
.-m-index-page .ul-0{padding-left: 24px;}
.-m-index-page .pgh-0{padding: 15px 15px;}
.-m-index-page .label-4, .-m-index-page .label-6{width: 2.5rem;height: 1px;display:inline-block;background-color: rgb(190, 157, 113);}
.-m-index-page .label-5, .-m-index-page .label-7{width: 1px;height: 1.4rem;display:inline-block;background-color: rgb(190, 157, 113);}
.-m-index-page .label-4{right: 0;top: 0;}
.-m-index-page .label-5{right: 10px;top: -7px;}
.-m-index-page .label-6{left: 0;bottom: 0;}
.-m-index-page .label-7{left: 10px;bottom: -7px;}
/* second */
.-m-second-page .title-0{margin: 25px 0 61px 0;}
.-m-second-page .title-0-text{width:50%;padding:5px 0;display:inline-block;left: 0;right: 0; margin: 10px auto;z-index: 1;}
.-m-second-page .label-0{width:100%;height: 1px;background-color: rgb(204, 204, 204);left: 0;top: 55px;}
.-m-second-page .pgh-0{padding-bottom:10px;box-shadow: rgb(204, 204, 204) 3px 3px 5px; }
.-m-second-page .pgh-1{margin: .8rem 1rem;padding:10px;border: 2px dotted rgba(183, 94, 112, 0.921569);box-shadow: rgb(225, 225, 225) 8px 8px 3px;}
.-m-second-page .pgh-2{border: 1px solid rgb(240, 104, 148);margin: 15px 0;}
.-m-second-page .pgh-2-box{padding: 20px;margin: -10px 5px;border: 1px solid rgb(240, 104, 148);}