/**
 * style.css
 *
 * Global style file
 */

* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin: 0; padding: 0; }
html { width: 100%; height: 100%; overflow: auto; }
body { min-height: 100%; color: #3E3E3E; font: 16px/1.5 PingFang SC, Microsoft YaHei, Heiti SC !important; }
/* 全局样式 */
img { border: 0 none; }
.w-all { width: 100%; }
.w-80 { width: 80% !important; }
.w-70 { width: 70% !important; }
.t-c { text-align: center; }
.t-l { text-align: left; }
.t-r { text-align: right; }
.f-l { float: left; }
.f-r { float: right; }
.middle{vertical-align: middle;}
.relative { position: relative; }
.block { display: block; }
.inline-block { display: inline-block; }
.center { margin: 0 auto; }
.ver-top { vertical-align: top !important; }
.padding-0 { padding: 10px; }
.padding-1 { padding: 5px 0; }
.padding-2 { padding: 4px 5px; }
.padding-3{padding: 14px 0;}
.padding-4{padding-left: 16px;}
.margin-0 { margin-bottom: 25px; }
.margin-1 { margin: 25px auto; }
.margin-2 { margin-bottom: 10px; }
.margin-3 { margin: 10px 0; }
.margin-4 { margin-top: 10px; }
.margin-5{margin-top: 25px;}
.line-0 { line-height: 2; }
.font-0 { font-size: .9375rem; }
.font-1 { font-size: 1rem; }
.font-2 { font-size: 1.3125rem; }
.font-3 { font-size: 1.125rem; }
.font-4{font-size: 1.25rem;}
.font-5{font-size: .875rem;}
.cor-0 { color: rgb(235, 103, 148); }
.cor-1 { color: #FFFFFF; }
.cor-2 { color: #3E3E3E; }
.cor-3{color: rgb(246, 76, 137);}
.cor-4{color:rgb(245, 189, 209);}
.bg-0 { background-color: rgb(235, 103, 148); }
/* 结束 */
.-m-article-page { padding: 20px 15px 15px; position: relative; }
.-m-article-page h2 { font-weight: 400; font-size: 24px; margin-bottom: 10px; }
.-m-article-page .content { margin-top: 25px; }
.-m-article-page .content > p, .-m-article-page .content > span { line-height: 26px; font-size: .975rem; display: block; text-align: left; }
.-m-article-page .content > img { width: 100%; height: auto; display: block; margin: 26px auto; }
/* index */
.-m-index-page .pgh-0 { border: .14rem solid rgb(235, 103, 148); margin: 0 .68rem; }
.-m-index-page .pgh-0 label { width: .8rem; height: .8rem; display: block; border: .14rem solid rgb(235, 103, 148); position: absolute; }
.-m-index-page .label-0 { top: -1.05rem; left: -1.05rem; }
.-m-index-page .label-1 { top: -1.05rem; right: -1.05rem; }
.-m-index-page .label-2 { bottom: -1.05rem; left: -1.05rem; }
.-m-index-page .label-3 { bottom: -1.05rem; right: -1.05rem; }
.-m-index-page .pgh-1 { margin: 10px 0 10px 0; border: 1px solid rgb(192, 200, 209); background-color: rgb(239, 239, 239);}
.-m-index-page .title-0 { margin: .5rem 0; padding: 5px; background-color: rgb(235, 103, 148); }
.-m-index-page .title-0 strong { padding: 10px; border: 2px solid #FFFFFF; }
.-m-index-page .pgh-p-0 { width: 49%; display: inline-block; vertical-align: middle; margin-top: 2px; }
.-m-index-page .img-0 { width: 30%; }
.-m-index-page .imgs-0 { margin: 25px .8rem; background-color: #FFFFFF; padding: 25px .5rem; }
.-m-index-page .label-4 { width: 0; height: 0; display: inline-block; border-top: 3.6rem solid #FFFFFF; border-right: 3.6rem solid transparent; position: absolute; top: -1rem; left: -1rem; }
.-m-index-page .label-5 { width: 0; height: 0; display: inline-block; border-bottom: 3.6rem solid #FFFFFF; border-left: 3.6rem solid transparent; position: absolute; bottom: -1rem; right: -1rem; }
.-m-index-page .label-6 { width: 90%; margin: 10px auto 0 auto; height: 2.2rem; border: 2px solid rgb(235, 103, 148); border-bottom: none; border-top: none; }
.-m-index-page .label-7 { display: block; border-bottom: 2px solid rgb(235, 103, 148); }
.-m-index-page .img-1 { width: 90%; display: block; margin: 0 auto; border-left: 2px solid rgb(235, 103, 148); border-right: 2px solid rgb(235, 103, 148); }
.-m-index-page .pgh-p-1 { width: calc(90% - 20px); margin: 0 auto; padding: 10px; border-left: 2px solid rgb(235, 103, 148); border-right: 2px solid rgb(235, 103, 148); }
.-m-index-page .pgh-2 { padding: 10px; background-color: rgb(255, 224, 219); border-radius: 10px; }
.-m-index-page .label-8 { height: 1px; border-bottom: 1px dotted rgb(235, 103, 148); display: block; }
/* second */
.-m-second-page .label-0 { width: 50%; height: 6px; background-color: rgb(254, 193, 192); }
.-m-second-page .label-1 { width: 50%; height: 6px; background-color: rgb(235, 103, 148); }
.-m-second-page .title-0 { display: inline-block; margin: 0 auto -5px auto; border-bottom: 5px solid rgb(235, 103, 148); }
.-m-second-page .pgh-0 { border-bottom: 5px solid rgb(245, 189, 209); }
.-m-second-page .pgh-1 { margin-top: 30px; padding: 20px 10px 10px; border: 1px solid rgb(245, 189, 209);box-shadow:rgb(165, 165, 165) 4.24264px 4.24264px 2px }
.-m-second-page .label-2 { width: 60%; margin: 0 auto; padding: .3rem .5rem; box-shadow: rgb(165, 165, 165) 4px 4px 2px; color: rgba(0, 0, 0, 0.843137); background-color: rgb(245, 189, 209); position: absolute; top: -1.2rem; left: 0; right: 0; }
.-m-second-page .label-3 { border-bottom: 2px dotted rgb(95, 94, 102); padding-bottom: 7px; }
.-m-second-page .label-4 { width: 2em;height: 2em;display: inline-block;transform: rotate(45deg); border: 3px solid rgb(242, 110, 158); border-left: none; border-top: none; }
.-m-second-page .label-5{width: 2.5rem;height: 2px;display: inline-block;background-color: rgb(245, 189, 209); transform: rotate(-45deg);}
.-m-second-page .label-6{width: 2.5rem; height: 2.5rem;float: right;background-color: #ffffff;position: absolute; right: -16px; top: -16px;}
.-m-second-page .label-7{width: 2.5rem;height: 2.5rem;float: right;background-color: #ffffff;position: absolute; left: -16px; bottom: -16px;}
.-m-second-page .pgh-2{border: 2px solid rgb(245, 189, 209);padding: 20px 10px;margin: 25px 16px;}
/* three */
.-m-three-page .pgh-0{padding: 10px;border: 2px dotted rgb(242, 110, 158);border-radius: 10px;}
.-m-three-page .pgh-1{margin-top: 14px;border: 1px solid #eaeaea;border-radius: 5px;}
.-m-three-page .phone{width: 25px;vertical-align: middle; }
.-m-three-page .pgh-1-title-0{border-bottom: 1px solid #eaeaea;}
.-m-three-page .pgh-1-content-0{margin: 25px 14px 5px;font-size: 1.0625rem;}
.-m-three-page .chooses{list-style: none;}
.-m-three-page .chooses li{padding: 10px 0;}
.-m-three-page .chooses li:nth-child(n + 2){border-top: 1px solid #eaeaea;}
.-m-three-page .pgh-2{border-bottom: 5px solid rgb(245, 189, 209);}
.-m-three-page .pgh-2-title-0{display: inline-block; margin: 0 auto -5px auto; border-bottom: 5px solid rgb(235, 103, 148); }
.-m-three-page .pgh-3{border: 1px solid rgb(192, 200, 209);padding: 10px;box-shadow:rgb(170, 170, 170) 0 0 5px;border-radius: 9px; }
.-m-three-page .label-0{width: 2.5rem;height: 2px;display: inline-block;background-color: rgb(245, 189, 209); transform: rotate(-45deg);}
.-m-three-page .label-1{width: 2.5rem; height: 2.5rem;float: right;background-color: #ffffff;position: absolute; right: -16px; top: -16px;}
.-m-three-page .label-2{width: 2.5rem;height: 2.5rem;float: right;background-color: #ffffff;position: absolute; left: -16px; bottom: -16px;}
.-m-three-page .label-3{ width: 2em;height: 2em;display: inline-block;transform: rotate(45deg); border: 3px solid rgb(242, 110, 158); border-left: none; border-top: none; }
.-m-three-page .pgh-4{border: 2px solid rgb(245, 189, 209);padding: 20px 10px;margin: 25px 16px;}
/* four */
.-m-four-page .pgh-0{padding: 5px; background-color: rgba(242, 209, 209, 0.34902);}
.-m-four-page .pgh-0-text{border: 2px solid #ffffff;padding: 10px;}
.-m-four-page .label-0{width: 2.5rem;height: 2.5rem;border-top: 6px solid rgb(242, 110, 158);border-left:6px solid rgb(242, 110, 158);position: absolute;top: -15px;left: -20px;}
.-m-four-page .label-1{width: 2.5rem;height: 2.5rem;border-bottom: 6px solid rgb(242, 110, 158);border-right:6px solid rgb(242, 110, 158);position: absolute;bottom: -12px;right: -12px;}
.-m-four-page .pgh-2{padding: 10px;border-radius: 11px;background-color: rgba(242, 209, 209, 0.34902);}
.-m-four-page .pgh-3{padding: 10px;display: inline-block;background-color:rgba(209, 59, 26, 0.137255);border-radius: 8px;}
.-m-four-page .label-2{width: 0;height: 0;margin:0 auto;border-left: .8rem solid transparent;border-right: .8rem solid transparent;border-top: .8rem solid rgba(209, 59, 26, 0.137255);position: absolute;bottom: -.79rem;left: 0;right: 0;}
.-m-four-page .pgh-4{border: 2px solid rgb(245, 189, 209);padding: 10px;}
.-m-four-page .pgh-4-title{width: 40%;margin:0 auto;background-color: #ffffff;position: absolute;top: -20px;left: 0;right: 0;}
.-m-four-page .label-3{width: 2em;height: 2em;display: inline-block;transform: rotate(45deg);border: 3px solid rgb(245, 189, 209); border-left: none; border-top: none;}
.-m-four-page .pgh-5{padding: 16px;background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 4px, white 4px, white 12px);background-color: rgb(245, 189, 209);}
.-m-four-page .pgh-5-text{padding: 8px;background-color: #ffffff;}
.-m-four-page .pgh-5-sym{width: 40px;height: 45px;font-size: 64px;margin: 0 auto;background-color: #ffffff;position: absolute;top: -25px;left: 0;right: 0;}