/*
 * global style
 */

*{-webkit-tap-highlight-color: rgba(0,0,0,0);margin: 0;padding: 0;}
html{background: #ffffff;font-size: 15px;line-height: 1.8; font-family:-apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;}
body{width: 100%;max-width: 740px;margin: 0 auto;}
img{border: 0;}

.relative{position: relative;}
.hidden{display: none;}
.block{display: block;}
.inline-block{display: inline-block;}
.float-left{float: left;}
.float-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.text-center{text-align: center;}
.horizontal-center{margin-left: auto;margin-right: auto;}
.absolute-center{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
.margin-t15-b10{margin: 15px 0 10px;}
.margin-t20-b10{margin: 20px 0 10px;}
.line-height-18{line-height: 1.8;}
.line-height-14{line-height: 1.4;}
.font-bold{font-weight: bold;}
.font11{font-size: 11px;}
.font12{font-size: 12px;}
.font13{font-size: 13px;}
.font14{font-size: 14px;}
.font15{font-size: 15px;}
.font16{font-size: 16px;}
.font17{font-size: 17px;}
.font18{font-size: 18px;}
.font19{font-size: 19px;}
.font20{font-size: 20px;}
.color-main{color: #3e3e3e;}
.color-main-1{color: rgb(9, 9, 9);}
.color-assist{color: rgb(245, 189, 209);}
.color-spec-b{color: rgb(70, 179, 240);}
/* z-index 定义，非特殊情况，禁止超过90 */
.z-index-0{z-index: 0;}
.z-index-1{z-index: 1;}
.z-index-2{z-index: 2;}
.z-index-3{z-index: 3;}

.container{padding: 20px 15px 15px; position: relative;
  h2 { font-weight: 400; font-size: 24px; margin-bottom: 10px; }
  .content { margin-top: 25px;
    p, span{display: block;min-height: 1rem;clear: both;}
    img{width:100%;height: auto; display: block;}
  }
}

.-m-ig-0-page{
  img{ margin: 25px auto;}
  .pgh-0{padding: 20px 10% 20px 10%;
    .t{color:rgb(160, 160, 160);}
    .i{width: 86px;height: auto;border-radius: 100%;position: absolute;top: -20%;right: 10%;}
  }
  .spec-f{color: rgb(9, 9, 9);text-shadow:rgb(245, 189, 209) 2px 0 2px;}
  .step-f{color: rgb(245, 189, 209);}
  .split{
    margin: 1rem 0;clear: both;
    .line{width: 45%;float: left;display: inline-block;border: 1px dotted rgb(245, 189, 209);margin-top: .2rem;}
    .square{width: .5rem;height: .5rem;float: left;margin: 0 calc(5% - .5rem); background: rgb(245, 189, 209);transform: rotate(45deg);display: inline-block;}
  }
  .title{
    text-align: center;margin: 1.5rem auto 1.5rem auto;clear: both;
    strong{margin:1.5rem 0 10px 0;display: inline-block;font-size: 23px;}
    .l-a{display:inline-block;border-color: rgb(235, 103, 148) transparent;border-width: .8rem .8rem 0 0;border-style: solid;margin-bottom: 10px;}
    .r-a{display:inline-block;border-color: rgb(254, 145, 145) transparent;border-width: 0 0 .8rem .8rem ;border-style: solid;margin-bottom: -10px;}
  }
  .title-1{
    margin: 1rem 0;
    .line{display: inline-block;width:3.6rem;height: 1.7rem;text-align: center;border-radius: 0 0 3rem 3rem;border: 2px solid rgb(245, 189, 209);padding: 0 .3rem .3rem .3rem;
      .c{display: inline-block;width: 100%;height: 100%;line-height: 1.6rem;border-radius: 0 0 3rem 3rem;color: #ffffff;font-size: 13px;background: rgb(245, 189, 209);}
    }
  }
  .title-2{
    margin: 1rem 0;
    label{width: .5rem; display: inline-block;margin-right: -.3rem; border-color:transparent rgba(245, 145, 145, .8) ;border-style: solid;border-width:0 .55rem 1rem  0;vertical-align: bottom;}
    span{display: inline-block;padding: 0 5px;color: rgb(9, 9, 9); background: rgb(245, 189, 209);vertical-align: top;}
  }
}

.-m-ig-1-page {
  img{margin: 10px 0;}
  .pgh-0 { padding: 20px 10% 20px 10%;
    .t { color: rgb(160, 160, 160); }
    .i { width: 86px; height: auto; border-radius: 100%; position: absolute; top: -20%; right: 10%; }
  }
  .spec-f{color: rgb(0, 0, 0);text-shadow:rgb(183, 227, 252) 1.87939px 0.68404px 2px; }
  .arrow{
    margin: 1rem 0;
    .b{width: 0;display: inline-block;vertical-align:bottom;border-style: solid;border-color: rgb(147, 213, 251) transparent;border-width: 1.6rem 0.9rem 0 .9rem;}
    .s{width: 0;display: inline-block;margin-left:-.8rem; border-style: solid;border-color: rgb(183,  227, 252) transparent;border-width: 1rem 0.6rem 0 .6rem;}
  }
  .tm{color: rgb(160, 160, 160);margin-top: -10px;}
  .title{
    margin: 1rem 0 0 0;
    strong{font-size: 24px;}
    p{margin-top: -.3rem;}
    img{width: 50%;margin: 0 auto;}
  }
  .pgh-1{
    margin: 10px 0;padding: 6px 0 0 0;
    .s-b{display: inline-block;padding-bottom: 6px; background: rgb(70, 179, 240);}
    .s-t{margin: -6px 6px 0 -6px;display: block; color: #ffffff;padding: 0 6px 0 6px;letter-spacing: 5px;background: rgb(147, 213, 251);}
    .t-line{margin-top: 10px;margin-bottom: 10px;
      .points{height: 4px;float: left;margin-top: -2px;background: #ffffff;
        .point{width: 4px;height: 4px;border-radius: 100%;float: left;background: rgb(183, 227, 252);}
        .point:nth-child(n + 2){margin-left: .5rem;}
      }
      .line{border-top: 1px solid rgb(183, 227, 252);margin-top: -2px;}
    }
    .b-line{
      .points{float: right;}
    }
  }
}